@font-face {
  font-family: "logoFont";
  src: url("Norse-Bold.otf");
}
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Permanent Marker", cursive;
}
label {
  text-transform: uppercase;
}
.container {
  display: flex;
  min-height: 100%;
  height: 100%;
}
.flex-left {
  display: flex;
  flex-direction: column;
  min-width: 40%;
  height: 100vh;
  background-color: antiquewhite;
  background-image: url("img/bg.jpg");
  background-size: cover;
  justify-content: space-between;
  flex: 1;
}
.left-footer {
  text-align: center;
  font-family: "logoFont";
  color: aliceblue;
  padding-bottom: 15px;
}
.left-footer > a:visited {
  color: aliceblue;
}
.left-footer > a:hover {
  color: #ff6f61;
}

.logo {
  background-color: rgb(0, 0, 0, 0.5);
  font-family: "logoFont";
  height: fit-content;
  margin-top: 25%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.logo > h1 {
  text-align: center;
  font-size: 45px;
  color: whitesmoke;
  width: 170px;
}
.logo > img {
  width: 75px;
  height: 100px;
}
.flex-right {
  min-width: 60%;
  height: 100vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.right-footer {
  text-align: center;
  padding-top: 30px;
  color: whitesmoke;
}
.right-footer > a:visited {
  color: whitesmoke;
}
.right-footer > a:hover {
  color: #cb4c2d;
}
.upper {
  font-family: "Permanent Marker", cursive;
  height: fit-content;
  background-color: #090502;
  font-size: 2vw;
  padding: 5% 20% 10% 5%;
  text-align: justify;
  box-shadow: -10px 0px 19px 27px rgba(9, 5, 2, 1);
  color: whitesmoke;
  max-height: 300px;
}
.lower {
  background-color: #090502;
  height: 100%;
  box-shadow: -10px 0px 19px 27px rgba(9, 5, 2, 1);
}
.form-container {
  box-shadow: -10px 0px 19px 27px #cb4c2d;
  background-color: #cb4c2d;
  height: fit-content;
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  font-family: "Permanent Marker", cursive;
  color: #090502;
  z-index: 2;
}
.form {
  display: flex;
  flex-flow: row wrap;
}
.form-header {
  width: 100%;
  color: #090502;
}
.input {
  display: flex;
  flex-flow: column wrap;
  width: 35%;
  margin: 10px;
}
.error {
  margin: 10px;
  width: 100%;
}
input {
  width: 200px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid grey;
}
button {
  margin: 20px;
  margin-top: 50px;
  width: 180px;
  height: 60px;
  background-color: #cb4c2d;
  font-size: 20px;
  font-family: "Permanent Marker", cursive;
  border: 0;
  border-radius: 10px;
  padding: 10px;
}
button:hover {
  box-shadow: 0px 0px 9px 2px #cb4c2d;
}
.already {
  font-family: "Permanent Marker", cursive;
  font-size: 20px;
  padding-left: 20px;
  color: whitesmoke;
}
.already > a {
  color: whitesmoke;
  text-decoration: none;
}
.already > a:hover {
  color: #ff6f61;
}
